## Final Project Submission

Please fill out:
* Student name: Pauline Mbatha Kimenzu
* Student pace: part time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Run te necessesary libraries. our data will be 'Aviation_Data.Xls'

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import  pandas as pd

We first have to read our dataset and view the first 5 columns

In [2]:
Aviation_df= pd.read_csv('Aviation_Data.Xls' , low_memory = False)
Aviation_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

Inorder to understand the structure we have to use .info in order to view the columns

In [3]:
Aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

CLEANING OUR DATA SET

we have noticed that thecolumn names has white spaces now we have to remove them

In [4]:
# I will clean the column names by removing  whitespaces and replacing the spaces and dots
Aviation_df.columns = Aviation_df.columns.str.strip().str.title().str.replace(' ', '_').str.replace('.', '_')
Aviation_df.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport_Code',
       'Airport_Name', 'Injury_Severity', 'Aircraft_Damage',
       'Aircraft_Category', 'Registration_Number', 'Make', 'Model',
       'Amateur_Built', 'Number_Of_Engines', 'Engine_Type', 'Far_Description',
       'Schedule', 'Purpose_Of_Flight', 'Air_Carrier', 'Total_Fatal_Injuries',
       'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured',
       'Weather_Condition', 'Broad_Phase_Of_Flight', 'Report_Status',
       'Publication_Date'],
      dtype='object')

In [5]:
#now lets confirm if we have removed them and replaced the spaces and dots
Aviation_df.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport_Code',
       'Airport_Name', 'Injury_Severity', 'Aircraft_Damage',
       'Aircraft_Category', 'Registration_Number', 'Make', 'Model',
       'Amateur_Built', 'Number_Of_Engines', 'Engine_Type', 'Far_Description',
       'Schedule', 'Purpose_Of_Flight', 'Air_Carrier', 'Total_Fatal_Injuries',
       'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured',
       'Weather_Condition', 'Broad_Phase_Of_Flight', 'Report_Status',
       'Publication_Date'],
      dtype='object')

now lets get into cleaning our dataset since it has so many missing values. First confirm the columns with more than 60% missing values

In [6]:
Aviation_df.isnull().sum().sort_values(ascending=False)

Schedule                  77766
Air_Carrier               73700
Far_Description           58325
Aircraft_Category         58061
Longitude                 55975
Latitude                  55966
Airport_Code              40216
Airport_Name              37644
Broad_Phase_Of_Flight     28624
Publication_Date          16689
Total_Serious_Injuries    13969
Total_Minor_Injuries      13392
Total_Fatal_Injuries      12860
Engine_Type                8555
Report_Status              7843
Purpose_Of_Flight          7651
Number_Of_Engines          7543
Total_Uninjured            7371
Weather_Condition          5951
Aircraft_Damage            4653
Registration_Number        2841
Injury_Severity            2459
Country                    1685
Amateur_Built              1561
Model                      1551
Make                       1522
Location                   1511
Event_Date                 1459
Event_Id                   1459
Accident_Number            1459
Investigation_Type            0
dtype: int64

now let us drop the columns with more than 50%  missing values and the columns that we dont need when answering the business problem

In [7]:
Aviation_df.drop(columns=['Schedule','Air_Carrier','Far_Description','Aircraft_Category','Longitude','Latitude','Airport_Name','Airport_Code','Report_Status','Publication_Date','Injury_Severity','Weather_Condition'], inplace=True)

In [8]:
#since the column Event_Date the data type is object we can change is to date time
Aviation_df['Event_Date'] = pd.to_datetime(Aviation_df['Event_Date'], errors='coerce')
#the remove the rows with invalid dates
Aviation_df = Aviation_df[Aviation_df['Event_Date'].notnull()]

In [9]:
#check whether the rows have been dropped
Aviation_df.shape

(88889, 19)

In [10]:
#lets check if our code has worked
Aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 0 to 90347
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                88889 non-null  object
 1   Investigation_Type      88889 non-null  object
 2   Accident_Number         88889 non-null  object
 3   Event_Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Aircraft_Damage         85695 non-null  object
 7   Registration_Number     87507 non-null  object
 8   Make                    88826 non-null  object
 9   Model                   88797 non-null  object
 10  Amateur_Built           88787 non-null  object
 11  Number_Of_Engines       82805 non-null  float64
 12  Engine_Type             81793 non-null  object
 13  Purpose_Of_Flight       82697 non-null  object
 14  Total_Fatal_Injuries    77488 non-null  float64
 15  Total_Serious_Injuries  76379 non-null  float64
 16  Total_Minor_Injuries    76956 non-null  float64
 17  Total_Uninjured         82977 non-null  float64
 18  Broad_Phase_Of_Flight   61724 non-null  object
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 13.6+ MB

Now fill the columns with missing values

In [11]:
# Fill missing injury values with 0 for better analysis
columns_injury = ['Total_Fatal_Injuries', 'Total_Serious_Injuries','Total_Minor_Injuries', 'Total_Uninjured']

for column in columns_injury:
    Aviation_df[column] = pd.to_numeric(Aviation_df[column], errors='coerce').fillna(0)

In [12]:
Aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 0 to 90347
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                88889 non-null  object
 1   Investigation_Type      88889 non-null  object
 2   Accident_Number         88889 non-null  object
 3   Event_Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Aircraft_Damage         85695 non-null  object
 7   Registration_Number     87507 non-null  object
 8   Make                    88826 non-null  object
 9   Model                   88797 non-null  object
 10  Amateur_Built           88787 non-null  object
 11  Number_Of_Engines       82805 non-null  float64
 12  Engine_Type             81793 non-null  object
 13  Purpose_Of_Flight       82697 non-null  object
 14  Total_Fatal_Injuries    88889 non-null  float64
 15  Total_Serious_Injuries  88889 non-null  float64
 16  Total_Minor_Injuries    88889 non-null  float64
 17  Total_Uninjured         88889 non-null  float64
 18  Broad_Phase_Of_Flight   61724 non-null  object
dtypes: datetime64[ns](1), float64(5), object(13)
memory usage: 13.6+ MB

In [13]:
Aviation_df.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Aircraft_Damage', 'Registration_Number', 'Make',
       'Model', 'Amateur_Built', 'Number_Of_Engines', 'Engine_Type',
       'Purpose_Of_Flight', 'Total_Fatal_Injuries', 'Total_Serious_Injuries',
       'Total_Minor_Injuries', 'Total_Uninjured', 'Broad_Phase_Of_Flight'],
      dtype='object')

In [21]:
#FILL THE MISSING VALUES WITH UNKNOWN
Aviation_df['Aircraft_Damage'] = Aviation_df['Aircraft_Damage'].fillna('Unknown')
Aviation_df['Engine_Type'] = Aviation_df['Engine_Type'].fillna('Unknown')
Aviation_df['Make'] = Aviation_df['Make'].fillna('Unknown')
Aviation_df['Country'] = Aviation_df['Country'].fillna('Unknown')
Aviation_df['Location'] = Aviation_df['Location'].fillna('Unknown')
Aviation_df['Event_Id'] = Aviation_df['Event_Id'].fillna('Unknown')
Aviation_df['Investigation_Type'] = Aviation_df['Investigation_Type'].fillna('Unknown')
Aviation_df['Model'] = Aviation_df['Model'].fillna('Unknown')
Aviation_df['Broad_Phase_Of_Flight'] = Aviation_df['Broad_Phase_Of_Flight'].fillna('Unknown')
Aviation_df['Registration_Number'] = Aviation_df['Registration_Number'].fillna('Unknown')
Aviation_df['Number_Of_Engines'] = Aviation_df['Number_Of_Engines'].fillna('Unknown')
Aviation_df['Purpose_Of_Flight'] = Aviation_df['Purpose_Of_Flight'].fillna('Unknown')
Aviation_df['Amateur_Built'] = Aviation_df['Amateur_Built'].fillna('Unknown')

In [22]:
#NOW CHECK IF THE MISSING VALUES FOR TE VALUES COLUMNS HAVE BEEN FILLED
Aviation_df.isnull().sum()

Event_Id                  0
Investigation_Type        0
Accident_Number           0
Event_Date                0
Location                  0
Country                   0
Aircraft_Damage           0
Registration_Number       0
Make                      0
Model                     0
Amateur_Built             0
Number_Of_Engines         0
Engine_Type               0
Purpose_Of_Flight         0
Total_Fatal_Injuries      0
Total_Serious_Injuries    0
Total_Minor_Injuries      0
Total_Uninjured           0
Broad_Phase_Of_Flight     0
Risk_Score                0
dtype: int64

LETS CALCULATE TE RISK METRIC FOR SEVERITY

In [25]:
#Lets calculate a risk score
Aviation_df['Risk_Score'] = (Aviation_df['Total_Fatal_Injuries'] * 3 + 
                    Aviation_df['Total_Serious_Injuries'] * 2 + 
                    Aviation_df['Total_Minor_Injuries'] * 1)

# now check the average risk score per model
Aircraft_Risk = Aviation_df.groupby(['Make', 'Model'])['Risk_Score'].mean().reset_index()

# next sort by lowest risk
Aircraft_Risk_Sorted = Aircraft_Risk.sort_values(by='Risk_Score', ascending=True)

In [26]:
#Lets check our code if it has worked
Aircraft_Risk_Sorted.head()

                      Make                 Model  Risk_Score
20156               Zenith         ZODIAC CH 650         0.0
20155               Zenith               CH650LS         0.0
22     AARDEMA ROBERT JOHN  1 AARDEMA RAG WNG SP         0.0
20182         de Havilland                 DHC-3         0.0
20183         de Havilland             DHC-6-200         0.0

In [27]:
Aviation_df.to_csv("Clean_Aviation_Data.csv", index=False)